@font-face {
  font-family: "Vetrino";
  src: url("/WixMadeforDisplay-Bold.ttf") format("woff"); /* формат WOFF */
  /* Дополнительные форматы шрифтов, если необходимо, могут быть указаны здесь */
}

body {
  font-family: "Vetrino", sans-serif; /* Используем шрифт Geometria Medium для текста на странице */
}

/* Стили для шапки */
header {
  background-color: #177bda;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Изначальный цвет белый */
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: rgb(212, 172, 97);
}

/* Стили для основного контента */
main {
  padding: 20px;
}
.page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 140%;
  height: -1%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
/* .parent {
  height: 200px;
  display: flex;
  align-items: center;
  border: 2px solid blue;
  text-align: center;
}

.parent img {
  position: relative;
  left: 220px;
  width: 200px; /* Начальная ширина изображения */
/* transition: transform 0.3s ease; */
/* }
.parent img:hover {
  transform: scale(1.1); /* Увеличение на 10% при наведении */
/* } */
/* .child {
  position: relative;
  left: 350px;
  text-align: justify; /* Выравнивание по ширине */
/* border: 2px solid rgb(255, 255, 255); */
/* } */

.centered-image {
  text-align: center;
}

.centered-image img {
  max-width: 100%;
}

.image-text {
  position: absolute;
  top: 65%; /* Опустить текст на 70% высоты изображения */
  left: 50%;
  transform: translateX(-50%); /* Центрировать текст по горизонтали */
  color: white; /* Белый цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  font-weight: bold; /* Жирный текст */
  font-size: 24px; /* Увеличить размер текста до 24 пикселей */
}

.logo img {
  width: 100px; /* Начальная ширина изображения */
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1); /* Увеличение на 10% при наведении */
}

/* Стили для футера */
footer {
  background-color: #177bda;
  color: white;
  padding: 20px;
  text-align: center;
}

.auth-links {
  margin-left: auto;
}

.auth-links a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.auth-links a:hover {
  color: rgb(212, 172, 97);
}

/* Стили для слайдера */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 5px;
}

.slide {
  flex: 0 0 auto;
  width: calc(33.33% - 10px); /* Ширина каждого слайда с учетом отступов */
  scroll-snap-align: start;
}

.slide img {
  width: 100%;
  max-width: 200px; /* Устанавливаем максимальную ширину изображения */
  height: auto; /* Автоматическое изменение высоты, чтобы сохранить пропорции */
}

.caption {
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 10px;
  }

  .logo img {
    width: 80px;
  }
}

@media screen and (max-width: 720px) {
  header {
    padding: 10px;
  }

  .logo img {
    width: 60px;
  }

  nav ul li {
    margin-left: 5px;
  }

  main {
    padding: 10px;
  }

  footer {
    padding: 10px;
  }
}

.collection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.collection .item {
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.collection .item img {
  width: 100%;
  height: auto;
}

.item-details {
  text-align: center;
}

.item-details img {
  width: 300px;
  height: auto;
}

/* regist */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* login */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* footer 2  */

footer {
  background-color: #177bda;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 10px 0;
}

/* Стили для изображений в footer */
footer img {
  width: 30px;
  margin: 0 10px;
  vertical-align: middle;
}
